~*
*~
\#*
.bashrc
.googlecl/*
.jasspa/*
.notes
.smex-items
*.wlx
*.exe
.bash_profile
.gitignore.orig
courses/*
Administrator/*
News/*
README
_.vimrc_backup
_ipython
_viminfo
_viminfo.tmp
_vimperatorrc
_vimrc.bak
_vimrc.wlx
_vimrc_exdev
ahk/*
back/*
banners/*
build/*
cserror.log.wlx
cthelper.exe.stackdump
deploy_webpart.bat
deploy_webpart.bat~
ebacks/*
elisp-bak
firefox/*
git
insight
macros.txt
macros.txt~
mplayer/*
mytasks.html
mytasks.org
mytasks.org~
notes/*
null
org/*
project.todo
proto.lnk
semantic.cache
semantic.cache~
set-font-and-frame.reg
set-frame-and-fonts.reg
snippets/*
syntax/*
tagfiles/*
templates/*
tempvim/*
vimperator/*
vimwiki/*
vimwiki_html
yankring_history_v2.txt
zshrc.bak
.
.#.emacs.lnk
..
.VirtualBox/*
.authinfo.wlx
.bachrc_orangewithfilesizes
.bash_history
.bash_profile~
.bashrc_clockwitherror
.bashrc~
.data
.dircolors
.ecb-tip-of-day.el
.ede
.emacs.bmk
.esd_auth
.eshell
.gitconfig
.gitconfig.wlx
.gitk
.idlerc
.ido.last
.ido.last~
.inputrc
.lfmrc
.links
.mc/*
.mutt/*
.muttrc
.notes/*
.profile
.projects.ede
.pulse-cookie
.recentf
.recentf~
.recently-used.xbel
.rnd
.semanticdb
.shrc
.ssh
.subversion
.terminator
.terminfo
.vfu
.vim-fuf
.vim.lnk
.viminfo
.emacs.d/ac-comphist.dat
R/*